In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('city_day.csv')

In [3]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [5]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [6]:
(df.isna().sum()*100/df.shape[0])

City           0.000000
Date           0.000000
PM2.5         15.570079
PM10          37.723071
NO            12.129626
NO2           12.139785
NOx           14.171549
NH3           34.973418
CO             6.972334
SO2           13.050692
O3            13.619586
Benzene       19.041008
Toluene       27.229014
Xylene        61.322001
AQI           15.851139
AQI_Bucket    15.851139
dtype: float64

In [7]:
(df.isna().sum()*100/df.shape[0])[(df.isna().sum()*100/df.shape[0]>30)]

PM10      37.723071
NH3       34.973418
Xylene    61.322001
dtype: float64

In [8]:
df=df.drop('Xylene',axis=1)

In [9]:
df.isna().sum()[df.isna().sum()>0]

PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
AQI            4681
AQI_Bucket     4681
dtype: int64

In [10]:
df=df.dropna()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10654 entries, 2010 to 29529
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        10654 non-null  object
 1   Date        10654 non-null  object
 2   PM2.5       10654 non-null  float64
 3   PM10        10654 non-null  float64
 4   NO          10654 non-null  float64
 5   NO2         10654 non-null  float64
 6   NOx         10654 non-null  float64
 7   NH3         10654 non-null  float64
 8   CO          10654 non-null  float64
 9   SO2         10654 non-null  float64
 10  O3          10654 non-null  float64
 11  Benzene     10654 non-null  float64
 12  Toluene     10654 non-null  float64
 13  AQI         10654 non-null  float64
 14  AQI_Bucket  10654 non-null  object
dtypes: float64(12), object(3)
memory usage: 1.3+ MB

In [12]:
df.duplicated().sum()

0

In [13]:
df.corr()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI
PM2.5,1.000000,0.885097,0.680463,0.648245,0.616117,0.510051,0.345393,0.360651,0.338771,0.039766,0.202704,0.912642
PM10,0.885097,1.000000,0.693220,0.694823,0.636591,0.512646,0.350360,0.408852,0.369690,0.022712,0.194979,0.917273
NO,0.680463,0.693220,1.000000,0.648841,0.785363,0.425756,0.253392,0.372144,0.137634,0.054857,0.200681,0.688746
NO2,0.648245,0.694823,0.648841,1.000000,0.727795,0.424384,0.239792,0.368432,0.319240,0.001587,0.165080,0.674695
NOx,0.616117,0.636591,0.785363,0.727795,1.000000,0.379730,0.305326,0.281501,0.226874,0.052254,0.202909,0.663679
NH3,0.510051,0.512646,0.425756,0.424384,0.379730,1.000000,0.347049,0.200421,0.220076,-0.029474,0.071707,0.521388
CO,0.345393,0.350360,0.253392,0.239792,0.305326,0.347049,1.000000,0.110894,0.114749,-0.006474,0.059091,0.437458
SO2,0.360651,0.408852,0.372144,0.368432,0.281501,0.200421,0.110894,1.000000,0.201391,-0.025177,0.048837,0.390766
O3,0.338771,0.369690,0.137634,0.319240,0.226874,0.220076,0.114749,0.201391,1.000000,0.009508,0.059347,0.404886
Benzene,0.039766,0.022712,0.054857,0.001587,0.052254,-0.029474,-0.006474,-0.025177,0.009508,1.000000,0.907277,0.024205
Toluene,0.202704,0.194979,0.200681,0.165080,0.202909,0.071707,0.059091,0.048837,0.059347,0.907277,1.000000,0.184328
AQI,0.912642,0.917273,0.688746,0.674695,0.663679,0.521388,0.437458,0.390766,0.404886,0.024205,0.184328,1.000000

In [14]:
df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [15]:
def remove_outliers(df,col,k):   
    mean = df[col].mean()
    global df1
    sd = df[col].std()    
    final_list = [x for x in df[col] if (x > mean - k * sd)]
    final_list = [x for x in final_list if (x < mean + k * sd)]          
    df1 = df.loc[df[col].isin(final_list)] ; print(df1.shape)     
    print("Number of outliers removed == >"   ,  df.shape[0]  - df1.shape[0])

In [16]:
remove_outliers(df,'AQI',2)

(9957, 15)
Number of outliers removed == > 697

In [17]:
x=df1.drop(['City', 'Date','NH3','O3','AQI_Bucket'],axis=1)

In [18]:
x.shape

(9957, 10)

In [19]:
x_test.head()

NameError: name 'x_test' is not defined

In [ ]:
x.columns

In [ ]:
y_test.head()

In [ ]:
df1.AQI_Bucket.value_counts()

In [ ]:
df1['AQI_Bucket'].replace({'Very Poor':0,'Severe':0,'Poor':0,'Good':1,'Satisfactory':1,'Moderate':1},inplace=True)

In [ ]:
df1.AQI_Bucket.value_counts()

In [ ]:
y=df1['AQI_Bucket']

In [ ]:
y.shape

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=2529)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()

In [ ]:
rfc.fit(x_train,y_train)

In [ ]:
y_pred=rfc.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()

In [ ]:
dtc.fit(x_train,y_train)

In [ ]:
y_pred_dtc=dtc.predict(x_test)

In [ ]:
print(classification_report(y_test,y_pred_dtc))

In [ ]:
import pickle
filename='air_quality.sav'
pickle.dump(rfc,open(filename,'wb'))
loaded_model=pickle.load(open('air_quality.sav','rb'))